

* {
    box-sizing: border-box;
}
body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
    margin: 2em;
}

.bgimg {
    background-position: center;
    background-size: contain;
    background-image: url("/img/background.png");
    min-height: 50%;
}

.menu {
    display: none;
}

.w3-row {
    padding: 8px 8px 16px 16px;
    text-decoration-color: black;
}

