html {
    background-image: url("../img/backalley.jpg");
    background-size: contain;
    background-repeat: repeat;
    background-attachment: fixed;
}
p{
    color: crimson;
    text-indent: 2em
}
.heading{
    color: steelblue
}
#main-heading{
    color: #de1468;
    text-decoration:overline underline darkslategray;
    text-align: center;
    font-family: Helvetica;
}

#main-heading, .reminder{
    background-color: rgb(255, 239, 0);
}
img {
    border-radius: 50%;
}

.make-bigger {
    font-size: 2em;
}

h1.make-bigger {
    font-size: 4em
}

h1.heading {
    color: indigo;
}

h2.heading{
    color: sandybrown;
    text-align: right
}

.reminder.make-bigger{
    color: mediumturquoise;
}

footer p{
    color: olivedrab;
}
footer>p{
    color: orchid;
}

a:link{
    color: green;
}
a:visited{
    color: orange;
}

a:hover{
    color:pink;
}

/*https://coolors.co/66101f-855a5c-8a8e91-b8d4e3-eeffdb*/

ul{
    list-style: disks;
}
ol{
    list-style: lower-roman;
}
ol li{
    color: inhert;
}